:root{
    --background-color-aside: #e8e8e8;
    --background-color-box-aside: #c7c7c7;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    max-width: 1400px;
    margin: 10px auto;
}

#container{
    box-shadow: 5px 5px 20px 3px gray;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}
/*----- Header -----*/
#aside{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    row-gap: 20px;
    width: 100%;
    padding: 30px;
    background-color:var(--background-color-aside);
}
#logo{
    width: 80px;
}

#search{
    width: 100%;
    font-size: 1.1rem;
    background-color: var(--background-color-box-aside);
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.boxes-status{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.box-status{
    width:48%;
    background-color:var(--background-color-box-aside) ;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.box-status div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-status img{
    width: 15px;
}

#todo-list-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
}

.box-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#todo-list-section p{
    width: fit-content;
    cursor: pointer;
}


#todo-list-section img{
    width: 20px;
    margin-right: 7px;
}

#todo-list-section ul{
    padding:5px 10px;
    width: fit-content;
}

.list-item{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 100%;
}

/*--------- media max-width:480px ------*/

@media only screen and (max-width: 576px) {
    #container{
        display: flex;
        flex-direction: column;
    }
    /*----- Header -----*/
    #aside{
        row-gap: 10px;
        padding: 30px 20px 10px;
    }
    #logo{
        width: 50px;
    }

    .box-status img{
        width: 12px;
    }

    #todo-list-section{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .box-filter{
        width: 40%;
    }

    #todo-list-section p{
        width: fit-content;
        cursor: pointer;
    }


    #todo-list-section img{
        width: 12px;
    }

}



